.contacts {
  padding: 130px 0;
  background-color: rgba($color-dark, .1);
}

.contacts-inner {
  @include inner;
}

.contacts-title {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 60px;
  line-height: 82px;
}

.contacts-text {
  margin-top: 40px;
  margin-left: 108px;

  a {
    color: $color-dark;
    text-decoration: none;
  }
}

