.contacts {
  padding: 130px 0;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.contacts-inner {
  @include inner;
}

.contacts-title {
  @include section-ttl;
  margin-bottom: 80px;
}
