.filter {
  display: flex;
  justify-content: center;
  list-style: none;
}

.filter-item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.filter-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    color: $color-accent;
  }
}
