.footer {
  width: 100%;
  background-color: $color-dark;

  @media (max-width: $mobile-max) {
    padding: 30px auto 35px;
  }
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  padding: 31px 0;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.footer-logo {
  max-width: 127px;
  max-height: 57px;
  margin-right: auto;

  @media (max-width: $tablet-max) {
    max-width: 109px;
    max-height: 49px;
  }

  @media (max-width: $mobile-max) {
    margin: 0 auto 30px;
  }
}

.footer-tel {
  margin-right: 60px;
  font-size: 28px;
  line-height: 38px;
  color: $color-light;
  text-decoration: none;

  @media (max-width: $mobile-max) {
    margin: 0 auto 15px;
  }
}

.socials {
  display: flex;
  margin-right: 0;
  list-style: none;
}

.social-item {
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
