.form {
  display: flex;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: $gap;

  @media (max-width: $tablet-max) {
    margin-right: 0;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-field-half {
  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }
}

.form-label {
  font-size: 20px;
  line-height: 27px;
}

.form-input {
  width: 412px;
  margin-top: 8px;
  padding: 35px 30px;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  border: none;

  @media (max-width: $tablet-max) {
    width: 364px;
  }

  @media (max-width: $mobile-max) {
    width: 300px;
  }
}
