.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-decoration: none;
  background-color: $color-dark;
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  height: 90px;
  align-items: center;

  @media (max-width: $mobile-max) {
    height: 70px;
  }
}

.logo-link {
  display: block;
  margin-right: auto;
}

.logo-link img {
  width: 127px;
  height: 57px;

  @media (max-width: $tablet-max) {
    width: 109px;
    height: 49px;
  }

  @media (max-width: $mobile-max) {
    width: 85px;
    height: 38px;
  }
}

.burger {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $color-dark;
    border: none;
  }
}
