.menu {

  @media (max-width: $mobile-max) {
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 900;
    width: 100%;
    padding: 25px 0;
    overflow: auto;
    border-top: 1px solid $color-light;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    list-style: none;

    @media (max-width: $mobile-max) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    &:first-child {
      margin-left: 0;
      background-color: $color-accent;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $mobile-max) {

      margin-bottom: $gap-half;

      &:first-child {
        background-color: inherit;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    display: block;
    margin: 0 5px;
    padding: 33px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
    opacity: .3;
    }

    @media (max-width: $mobile-max) {
      width: 100%;
      padding: 8px 25px;
    }
  }
}

.j-menu {
  top: -100%;
  transition: all 0.3s ease 0s;

  &.active {
    top: 70px;
  }
}
