.menu {

  @media (min-width: $tablet) and (max-width: $desktop) {
    li:first-child {
      margin-left: 0;
      background-color: $color-accent;
    }

    a:hover {
      opacity: .3;
    }
  }

  @media (max-width: $mobile-max) {
    // display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 25px;
    border-top: 1px solid $color-light;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    list-style: none;

    @media (max-width: $mobile-max) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  a {
    display: block;
    margin: 0 5px;
    padding: 33px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;

    @media (max-width: $mobile-max) {
      margin-bottom: 10px;
      margin-left: 0;
      padding: 8px 25px;
    }
  }
}
