.order-fade {
  padding: 130px 0;
  background-color: rgba($color-dark, .1);

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
 }

.order-inner {
  @include inner;
}

.order-ttl {
  @include section-ttl;
  margin-bottom: 40px;

  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
  }
}

.order-text {
  margin-bottom: 90px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}
