.promo {
  background-color: $color-dark;
  background-image: url(../imgs/bg-promo.jpg);
  background-position: center -45px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-fade {
  padding: 200px 0 215px;
  background-color: rgba($color-dark, .4);

  @media (max-width: $tablet-max) {
    padding: 180px 0 190px;
  }

  @media (max-width: $mobile-max) {
    padding: 110px 0 100px;
  }
}

.promo-inner  {
  @include inner;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.promo-ttl {
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }
}
