.promo {
  background-color: $color-dark;;
}

.promo-inner  {
  @include inner;
}

.promo-ttl {
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: $color-light;
}
