.reviews {
  padding: 130px 0;
}

.reviews-inner {
  @include inner;
}

.reviews-ttl {
  @include section-ttl;
  margin-bottom: 80px;
}

.slider-item {
  display: flex;
  max-width: 844px;
  max-height: 304px;
  border: 1px solid #000;
}

.reviews-ava {
  flex-basis: 37.5%;
  width: 304px;
  height: 304px;
  margin-right: 23px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-text {
  flex-basis: 62.5%;
  margin: 33px 0;
}

.reviews-name {
  display: block;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 65px;
}

.reviews-quote {
  font-size: 24px;
  line-height: 33px;
}
