.slider {
  position: relative;
  padding: 0 216px;

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 60px;

    @media (max-width: $tablet-max) {
      width: 44px;
      height: 44px;
    }
  }

  & .slick-prev {
    left: 12px;
    background: url('../../../www/imgs/arrow-circle-btn.svg');
  }

  & .slick-next {
    right: 12px;
    background: url('../../../www/imgs/arrow-circle-btn.svg');
  }

  @media (max-width: $tablet-max) {
    padding: 0 64px;
  }
}

.slick-list {
  padding: 0 !important;
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider-item {
  display: flex;
  width: 844px;
}
