.tabs ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    list-style: none;
  }

.tab-link {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    color: $color-accent;
  }

  a {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.tab-content {
  display: none;

  &.active {
    display: flex;
    justify-content: space-between;
  }
}

.tab-data {
  margin-left: 108px;
  font-size: 24px;
  line-height: 33px;

  p {
    padding-bottom: $gap;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: $color-dark;
    text-decoration: none;
  }
}
