* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px;
  font-family: $font;
  color: $color-dark;

  @media (max-width: $mobile-max) {
    padding-top: 70px;

    &.locked {
      overflow: hidden;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}
