@mixin inner {
  max-width: 1278px + $gap;
  padding: 0 $gap-half;
  margin: 0 auto;
}

@mixin section-ttl {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;
  text-align: center;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}
