// fonts
$font: 'Open Sans', sans-serif;

// colors
$color-dark: #333333;
$color-light: #fff;
$color-accent: #ff2d2d;

// indents
$gap: 20px;
$gap-half: calc($gap / 2);

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1px;
$tablet-max: $desktop - 1px;
